---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture assignments %} <a href = "{{ site.baseurl }}/assignments/">assignments</a>{% endcapture %}

{% comment %}
<p><b>11/6/2017</b>: {% include examRef.html examLabel = "Extra Credit" %} opportunities posted. 
{% endcomment %}
<p><b>09/20/2018</b>: {% include hwRef.html hwLabel = "Assignment 4" %} updated (Due: Monday, 9/24/18)</p>
<p><b>09/11/2018</b>: {% include hwRef.html hwLabel = "Assignment 3" %} updated (Due: Monday, 9/17/18)</p>
<p><b>09/04/2018</b>: First two {{ assignments }} posted (Due: Friday, 9/7/18 and Monday, 9/10/18)
<p><b>8/27/2017</b>: Welcome to <b style = "color: red"> CSC-360: Advanced Web Development and Web Scraping</b> for the Fall 2018 Semester! This page will be used to provide course material for CSC-360.  Please see the links above for more information. </p>

