---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture assignments %} <a href = "{{ site.baseurl }}/assignments/">assignments</a>{% endcapture %}

<p><b>03/01/2022</b>: {% include hwRef.html hwLabel = "Assignment #5" %} posted (Due: Wednesday, 3/09/22)</p>
<p><b>02/18/2022</b>: The Worldle Project (Exam I) is posted on <a href = "https://easternct.blackboard.com/">Blackboard</a> and is due Wednesday, 2/23/22</p>
<p><b>02/09/2022</b>: {% include hwRef.html hwLabel = "Assignment #4" %} posted (Due: Wednesday, 2/16/22)</p>
<p><b>02/03/2022</b>: {% include hwRef.html hwLabel = "Assignment #3" %} due date pushed back to Wednesday, 2/09/22</p>
<p><b>01/29/2022</b>: {% include hwRef.html hwLabel = "Assignment #3" %} posted (Due: Monday, 2/07/22}</p>
<p><b>01/25/2022</b>: {% include hwRef.html hwLabel = "Assignment #2" %} posted (Due: Monday, 1/31/22}</p>
<p><b>01/21/2022</b>: {% include hwRef.html hwLabel = "Assignment #1" %} posted (Due: Friday, 1/28/22}</p>
<p><b>01/14/2022</b>: Welcome to <b style = "color: red"> CSC-301: Advanced Web Development and Web Scraping</b> for the Spring 2022 Semester! This page will be used to provide course material for CSC-301.  Please see the links above for more information. </p>

{% comment %}
<p><b>11/6/2017</b>: {% include examRef.html examLabel = "Extra Credit" %} opportunities posted. 
<p><b>11/16/2018</b>: {% include hwRef.html hwLabel = "Final Project" %} posted (Due dates will vary)</p>
<p><b>10/22/2018</b>: {% include examRef.html examLabel = "Exam II" %} will be Monday, 10/29/2018</p>
<p><b>10/16/2018</b>: {% include hwRef.html hwLabel = "Assignment 6" %} posted (Due: Monday, 10/22/18)</p>
<p><b>10/01/2018</b>: {% include hwRef.html hwLabel = "Assignment 5" %} updated (Due: Monday, 10/08/18)</p>
<p><b>09/20/2018</b>: {% include hwRef.html hwLabel = "Assignment 4" %} updated (Due: Monday, 9/24/18)</p>
<p><b>09/11/2018</b>: {% include hwRef.html hwLabel = "Assignment 3" %} updated (Due: Monday, 9/17/18)</p>
<p><b>09/04/2018</b>: First two {{ assignments }} posted (Due: Friday, 9/7/18 and Monday, 9/10/18)

<p><b>04/15/2020</b>: {% include hwRef.html hwLabel = "Assigment 10" %} posted (Due: Friday, 04/24/20)</p>
<p><b>04/10/2020</b>: {% include hwRef.html hwLabel = "Assigment 9" %} posted (Due: Monday, 04/12/20)</p>
<p><b>03/25/2020</b>: {% include hwRef.html hwLabel = "Assigment 8" %} posted (Due: Friday, 04/03/20)</p>
<p><b>03/22/2020</b>: See <a href = 'http://www.piazza.com'>Piazza</a> posts for important information regarding course logistics for after Spring Break.</p>
<p><b>03/06/2020</b>: {% include hwRef.html hwLabel = "Assigment 7" %} posted (Due: Wednesday, 03/25/20)</p>
<p><b>02/24/2020</b>: {% include hwRef.html hwLabel = "Assigment 5" %} posted (Due: Monday, 03/02/20)</p>
<p><b>02/12/2020</b>: {% include hwRef.html hwLabel = "Assigment 4" %} will be due on Tuesday, 02/18/20; {% include examRef.html examLabel = "Exam I" %} will be Friday, 02/21/20</p>
<p><b>02/05/2020</b>: {% include hwRef.html hwLabel = "Assigment 3" %} due date moved to Monday, 02/10/20</p>
<p><b>01/30/2020</b>: {% include hwRef.html hwLabel = "Assigment 3" %} posted (Due: Friday, 02/07/20)</p>
<p><b>01/27/2020</b>: {% include hwRef.html hwLabel = "Assigment 2" %} posted (Due: Monday, 02/03/20)</p>
<p><b>01/24/2020</b>: {% include hwRef.html hwLabel = "Assigment 1" %} posted (Due: Wednesday, 01/29/20)</p>

{% endcomment %}
